html, body {
    height: 100%;
    overflow: hidden;
    background-color: #333333;
}

* {
  margin: 0;
  font-family: Open Sans, Arial;
} 

body {
  display: block;
  margin: 8px;
}

h1 {
  display: block;
  background-color: #333333;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: 'Pacifico';
  font-size: 5em;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  padding: 20px;
}

.session {
	font-size: .8em;
  display: flex;
}

.ctrl {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
}

.minus, .plus {
  background-color: #333333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 2em;
  outline: none;
}

.time {
  font-size: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
}

.section {
    background-color: #333333;
    height: 100%;
    color: #fff;
}

section .timer {
  margin: 0 auto;
  text-align: center;
  width: 300px;
  height: 300px;
  font-size: 4em;
  border: 2px solid #009999;
  border-radius: 50%;
  position: relative;
  z-index: 20;
  overflow: hidden;
  color: #fff;
}

section .title {
    text-align: center;
    line-height: 180px;
    font-size: .8em;
}

section .fill {
  content: '';
  position: absolute;
  background: #009999;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

section .timer:after {
  content: '';
  position: absolute;
  top: -0px;
  left: -0px;
  right: -0px;
  bottom: -0px;
  border: 5px solid #333333;
  border-radius: 50%;
  z-index: -1;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper .button {
    position: absolute;
    font-size: 30px;
    background-color:  #333333;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}